/*Custom properties/variables*/

:root {
	--baby-blue: #3E719C;
	--navy-blue: #154872;
	--dark-blue: #02182F;
	--white: #fff;
}

body, html {
	box-sizing: border-box;
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	background: var(--white);
	color: var(--dark-blue);
	min-width: 360px;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2.1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

#nav-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--navy-blue);
	color: var(--white);
	margin-bottom: 0;
}

#nav-header #logo-and-title {
	margin-bottom: .2rem;
}

#logo {
	height: 55px;
	width: auto;
	margin-top: 1rem;
}

#header-title {
	display: none;
}

#navbar ul {
	display: flex;	
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar ul li {
	margin-left: 1rem;
	padding: 1rem 0;
}

.nav-link {
	padding: 1rem;
	font-size: 1.7rem;
	font-weight: 700;
}

/*Main Section*/

/*Presentation Section*/

#presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	margin: 0;
	margin-bottom: 6rem;
	position: relative;
	background-image: url(../images/tablet-coffe.jpg);
	background-size: cover;
}

#presentation::before {
	content: "";
	background-color: rgba(2, 24, 47, 0.5);
	position: absolute;
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.p-headers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	position: relative;
	text-align: center;
}

.p-headers h1,
.p-headers h3,
.p-headers p,
.p-headers button {
	margin: 0;
}

.p-headers h1,
.p-headers p {
	line-height: 1.2;
	margin-bottom: 1.8rem;
}

.p-headers h1,
.p-headers h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--white);
}

.p-headers p {
	font-weight: 500;
	font-style: italic;
	text-transform: capitalize;
	background-color: rgba(62, 113, 156, 0.5);
	padding: .6rem;
	border: 5px;
}


.button {
	border: none;
	padding: 1rem 1.9rem;
	background: var(--navy-blue);
	color: var(--white);
	font-size: inherit;
	font-weight: 700;
}

.hidden {
	display: none;
}

/*Products Showcase*/

#products-showcase {
	text-align: center;
	margin-bottom: 6rem;
}

.prod-container {
	display: flex;
	flex-direction: column;
}

/*Text Container*/

.prod-text-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.prod-text-container h2,
.prod-text-container p,
.prod-links {
	margin: 0;
}

.prod-text-container p {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.prod-links a {
	padding: 0 .5rem;
}	

.prod-links a,
.prod-links i {
	color: var(--navy-blue);
}

/*Product Image*/

.prod-container figure,
.offers figure {
	margin: 0;
}

/*Collections Section*/

.c-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	width: 100%;
	color: var(--white);
}

.prod-third {
	background-image: url(../images/subway-guy.jpg);
	background-size: cover;
	position: relative;
}


.prod-fourth {
	background: url(../images/smartwatch.jpg);
	background-size: cover;
	position: relative;
}


.prod-third::before,
.prod-fourth::before  {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(2, 24, 47, 0.5);
	
}

.c-div div {
	position: relative;
	width: 45%;
	margin-left: 2rem;
}

.c-div-text {
	display: none;
}


/* Offers Section */

.offers {
	margin-bottom: 6rem;
	text-align: center;
}

.offers-text {
	margin: 2rem;
}

.offers-text h2 {
	text-align: center;
}

.offers-text p {
	text-align: justify;
	font-size: 1.85rem;
}

.offers-text a {
	color: var(--navy-blue);
}

/* Footer Section */

#footer {
	margin: 0;
	padding: 2rem;
	background: var(--navy-blue);
	color: var(--white);
	text-align: center;
}

#shop-learn ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Media Queries */

@media(max-width: 500px) {

	.prod-container figure {
		margin-bottom: 3rem;
	}

}

/* Tablet Size */

@media(min-width: 708px) {

	#nav-header {
		flex-direction: row;
		justify-content: space-between;
	}

	#nav-header #logo-and-title {
		margin-left: 4rem;
		margin-bottom: 0;
	}

	#navbar {
		margin-right: 7rem;
	}

	#navbar ul li {
		padding: 0;
	}

	#logo {
		height: 40px;
		margin: 1rem 0;
	}

	#presentation {
		flex-direction: row;
		justify-content: center;
	}

	.p-headers {
		width: 50%;
	}

	.tablet-row {
		flex-direction: row;
	}

	.tablet-row .large,
	.tablet-row .small {
		padding: 2rem;
	}

	.c-div div {
		width: 250px;
	}

	.c-div-text {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
	}

	.prod-fourth div {
		align-self: flex-end;
	}

	.offers {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: .60rem;
		
	}

	.offers .offers-text {
		width: 35%;
	}

	.offers figure {
		width: 50%;
	}

	#footer {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

	#footer section {
		width: 30%;
	}

	#info div,
	.f-text {
		line-height: 1rem;
	}

	#footer h4 {
		text-transform: uppercase;
	}

	.social-networks i {
		margin: 0 1rem;
	}

}

/* Desktop Size*/

@media(min-width: 1000px) {

	main {
		display: flex;
		flex-direction: column;
	}

	#grid {
		width: 95%;
		align-self: center;
	}

	#nav-header #logo-and-title {
		width: 200px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#header-title {
		display: inherit;
		font-size: 2rem;
		font-weight: 400;	
	}

	.nav-link:hover {
		background: var(--white);
		color: var(--baby-blue);
		border-radius: 5px;
	}

	.p-headers {
		width: 30%;
	}

	.button:hover {
		background: var(--dark-blue);
		color: var(--white);
		cursor: pointer;
	}

	#products-showcase {
		margin-bottom: 3rem;
	}

	.tablet-row .large,
	.tablet-row .small {
		padding: 0;
	}

	.prod-container {
		flex-direction: row;
		justify-content: space-around;
	}

	.c-div-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 300px;
		width: 100%;
		color: var(--white);
	}

	.c-div-top .prod-text-container {
		position: relative;
		width: 277px;
	}

	.c-div-top .c-div-text {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
	}

	.c-div-top .button {
		margin-top: 2rem;
	}

	.prod-links a:hover,
	.prod-links::after {
		margin-right: .4rem;
	}

	.prod-container img {
		height: 300px;
		object-fit: cover;
		object-position: top;
	}

	.prod-container .large {
		width: 60%;		
	}

	.prod-container .small {
		width: 35%;		
	}

	.prod-container .large,
	.prod-container .small {
		margin-bottom: 3rem;
	}

	.prod-first {
		background-image: url(../images/phone-agenda.jpg);
		background-size: cover;
		position: relative;
	}

	.prod-second {
		background-image: url(../images/apple-tablet.jpg);
		background-size: cover;
		position: relative;
	}

	.prod-first::before,
	.prod-second::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(2, 24, 47, 0.5);
	}

	.disapear {
		display: none;
	}

	.hidden {
		display: initial;
	}

	.offers {
		justify-content: space-around;
	}

	.offers figure {
		width: 58%;

	}

	.offers img {
		height: 450px;
		object-fit: cover;
		object-position: top;
	}

	.offers-text {
		order: 1;
		width: 37%;
	}
	
	#shop-learn a:hover {
		text-decoration: underline;
	}
}