/*Custom properties/variables*/

:root {
	--baby-blue: #3E719C;
	--navy-blue: #154872;
	--dark-blue: #02182F;
	--white: #fff;
}

body, html {
	box-sizing: border-box;
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	background: var(--white);
	color: var(--dark-blue);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--navy-blue);
	color: var(--white);
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.4rem;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

#logo {
	height: 55px;
	width: auto;
	margin-top: 1rem;
}

#header-title {
	display: none;
	/*font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0;*/
}

#navbar ul {
	display: flex;	
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar ul li {
	padding: 1rem;
	margin-left: 1rem;
}

.nav-link {
	font-size: 1.7rem;
	font-weight: 700;
}

#navbar ul li:hover {
	background: #154872;
	color: #fff;
	border-radius: 5px;
}

/*Main Section*/

/*Presentation Section*/

#presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	margin: 0;
	margin-bottom: 2rem;
	position: relative;
}

#presentation::before {
	content: "";
	background-image: url(../images/tablet-coffe.jpg);
	background-size: cover;
	position: absolute;
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	opacity: 0.87;
}

.p-headers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	position: relative;
	text-align: center;
}

.p-headers h1,
.p-headers h3,
.p-headers p,
.p-headers button {
	/*border: solid 1px blue;*/
	margin: 0;
}

.p-headers h1,
.p-headers p {
	line-height: 1.2;
	margin-bottom: 1.8rem;
}

.p-headers h1,
.p-headers h3 {
	text-transform: uppercase;
	font-weight: 700;
}

.p-headers p {
	font-weight: 500;
	font-style: italic;
	background-color: rgba(62, 113, 156, 0.5);
	color: var(--dark-blue);
	padding: .6rem;
	border: 5px;
}


#p-button {
	border: none;
	padding: 1rem 1.9rem;
	background: var(--navy-blue);
	color: var(--white);
	font-size: inherit;
	font-weight: 500;
}

/*Products Showcase*/

#products-showcase {
	text-align: center;

}

.prod-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

/*Text Container*/

.prod-text-container {
	margin-top: 1rem;
	margin-bottom: 2rem;
	/*border: solid 1px red;*/
}


.prod-text-container h2,
.prod-text-container p,
.prod-links {
	margin: 0;
}

.prod-text-container p {
	font-size: 2rem;
	margin-bottom: : 1.5rem;
}

.prod-links a {
	color: var(--navy-blue);
	padding: 0 1rem;
}	

/*Product Image*/

.prod-container figure {
	margin: 0;
}