/*Custom properties/variables*/

:root {
	--baby-blue: #3E719C;
	--navy-blue: #154872;
	--dark-blue: #02182F;
	--white: #fff;
}

body, html {
	box-sizing: border-box;
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	background: var(--white);
	color: var(--dark-blue);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--navy-blue);
	color: var(--white);
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2.1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

#logo {
	height: 55px;
	width: auto;
	margin-top: 1rem;
}

#header-title {
	display: none;
	/*font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0;*/
}

#navbar ul {
	display: flex;	
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar ul li {
	padding: 1rem;
	margin-left: 1rem;
}

.nav-link {
	font-size: 1.7rem;
	font-weight: 700;
}

#navbar ul li:hover {
	background: #154872;
	color: #fff;
	border-radius: 5px;
}

/*Main Section*/

/*Presentation Section*/

#presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	margin: 0;
	margin-bottom: 6rem;
	position: relative;
	background-image: url(../images/tablet-coffe.jpg);
	background-size: cover;
}

#presentation::before {
	content: "";
	background-color: rgba(2, 24, 47, 0.5);
	position: absolute;
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.p-headers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	position: relative;
	text-align: center;
}

.p-headers h1,
.p-headers h3,
.p-headers p,
.p-headers button {
	margin: 0;
}

.p-headers h1,
.p-headers p {
	line-height: 1.2;
	margin-bottom: 1.8rem;
}

.p-headers h1,
.p-headers h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--white);
}

.p-headers p {
	font-weight: 500;
	font-style: italic;
	background-color: rgba(62, 113, 156, 0.5);
	padding: .6rem;
	border: 5px;
}


.button {
	border: none;
	padding: 1rem 1.9rem;
	background: var(--navy-blue);
	color: var(--white);
	font-size: inherit;
	font-weight: 700;
}

/*Products Showcase*/

#products-showcase {
	text-align: center;
	margin-bottom: 6rem;

}

.prod-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

/*Text Container*/

.prod-text-container {
	margin-top: 1rem;
	margin-bottom: 2rem;
	/*border: solid 1px red;*/
}


.prod-text-container h2,
.prod-text-container p,
.prod-links {
	margin: 0;
}

.prod-text-container p {
	font-size: 2rem;
	margin-bottom: : 1.5rem;
}

.prod-links a {
	color: var(--navy-blue);
	padding: 0 1rem;
}	

/*Product Image*/

.prod-container figure,
.offers figure {
	margin: 0;
}

/*Collections Section*/

.c-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	width: 100%;
	color: var(--white);
}

.top {
	background-image: url(../images/subway-guy.jpg);
	background-size: cover;
	position: relative;
}


.bottom {
	background: url(../images/smartwatch.jpg);
	background-size: cover;
	position: relative;
}


.top::before,
.bottom::before  {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(2, 24, 47, 0.5);
	
}

.c-div div {
	position: relative;
	width: 45%;
	margin-left: 2rem;
}

.c-div-text {
	display: none;
}


/* Offers Section */

.offers {
	margin-bottom: 4rem;
	text-align: center;
}

.offers-text {
	margin: 2rem;
}

.offers-text h2 {
	text-align: center;
}

.offers-text p {
	text-align: justify;
	font-size: 1.85rem;
}

.offers-text a {
	color: var(--navy-blue);
}

/* Footer Section */

#footer {
	margin: 0;
	padding: 2rem;
	background: var(--navy-blue);
	color: var(--white);
	text-align: center;
}

#shop-learn ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Media Queries */

/* Tablet Size */

@media(min-width: 500px) {

	header {
		flex-direction: row;
		justify-content: space-around;
	}

	#logo {
		height: 40px;
		margin: 1rem 0;
	}

	#presentation {
		flex-direction: row;
		justify-content: center;
	}

	.p-headers {
		width: 50%;
	}

	.tablet-row {
		flex-direction: row;
	}

	.tablet-row .large,
	.tablet-row .small {
		padding: 2rem;
	}

	.c-div div {
		width: 38%;
	}

	.c-div-text {
		display: block;
		font-weight: 500;
		font-size: 1.8rem;
	}

	.offers {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: .60rem;
		
	}

	.offers .offers-text {
		width: 35%;
	}

	.offers figure {
		width: 50%;
	}

	#footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#info div,
	.f-text {
		line-height: 1rem;
	}

	#info,
	#shop-learn {
		text-align: left;
	}

	#connect h4,
	#shop-learn h4  {
		text-transform: uppercase;
	}

	.social-networks i {
		margin: 0 1rem;
	}

}